{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "jquery": true,
    "jasmine": true,
    "mocha": true,
  },
  "settings": {
    "import/resolver": "webpack",
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "prop-types": [0],
    "consistent-return": [0],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
      "devDependencies": true,
      "optionalDependencies": false,
      "peerDependencies": false
      }
    ],
    "no-webpack-loader-syntax": [0],
  },
  "extends": ["airbnb-base"],
}
